{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <div class="flex justify-center w-full mt-10">
        <a class="btn btn-primary" href="/album/add">Add Image</a>
    </div>

    <div class="flex items-center justify-center">
        <div class="album flex mt-10 p-10">
            {% for photo in photos %}
                <a href="/album/view/{{photo.id}}">
                    <img class="rounded photo m-5" src="{{ photo.url }}" />
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
